// Цвета
$color-text-main = #222
$color-text-dark = #1d1d1f
$color-text-muted = #333
$color-bg-body = #fff

$color-grad-light-start = #f6f5f5
$color-grad-light-end = #f5f5f7

$color-grad-brand-start = #f5f5f7
$color-grad-brand-end = #e8e8ed

$color-grad-search-start = #e8e8ed
$color-grad-search-end = #d1d1d6

$color-border = #d2d2d7

// Шрифты
$font-main = Arial, sans-serif

// Размеры
$width-page = 90%
$max-width-mobile = 800px