block variables

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title #{title}
    
    body
        block nav
        
        block header
        
        block content

        block footer
            footer.footer
                p © 2025 • Б9123-09.03.04(5) • Юрьев А.П.